node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.idea/

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
